{% extends 'search/base.html' %}
{% block content %}

{% load custom_tags %}

{% if stops.items %}
<meta http-equiv="refresh" content="60">
<br>
<h4>Spremljene stanice:</h4>
{% endif %}

{% for key, val in stops.items %}
<div class="list-group" style="border-radius: 29.6px">
    <div class="list-group-item list-group-item-dark">
        <div class="row">
            <div class="col">
                <strong>{{ val.station_name }}</strong>
                {% if val.hs %}
                : {{ val.hs }}
                {% endif %}
            </div>
            <div class="col-auto">
                <a href="/station/?id={{ key }}" style="color: black;"><i
                        class="bi bi-box-arrow-up-right"></i></a>
            </div>
            <div class="col-auto">
                <a onclick="save_stop('{{ key }}')" style="color: black;">
                    {% if key in request.COOKIES.saved_stops %}
                    <i id="save-fill-{{ key }}" class="bi bi-star-fill" style="display:none;"></i>
                    <i id="save-nfill-{{ key }}" class="bi bi-star"></i>
                    {% else %}
                    <i id="save-fill-{{ key }}" class="bi bi-star-fill"></i>
                    <i id="save-nfill-{{ key }}" class="bi bi-star" style="display:none;"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

    {% for stime in val.stimes %}
    <a href="/trip/?id={{ stime.trip.trip_id }}" class="list-group-item list-group-item-action">
        <div class="row">
            {% if stime.provider == 'zet' %}
            <div class="col-2">
                {{ stime.trip.route.route_short_name }}
            </div>
            {% endif %}
            <div class="col">
                {% if stime.provider == 'zet' %}
                <strong>{{ stime.trip.trip_headsign }}</strong>
                {% elif stime.provider == 'hzpp' %}
                <strong>{{ stime.trip.route.route_long_name }}</strong>
                {% endif %}
            </div>
            <div class="col-auto d-flex align-items-center gap-1">
                {% if stime.trip.bikes_allowed %}
                <i class="icon-bike"></i>
                {% endif %}
                {% if stime.trip.wheelchair_accessible %}
                <i class="icon-wheelchair"></i>
                {% endif %}

                {% if stime.departure_time_an|arrived:2 %}
                <span class="badge bg-light text-dark" style="font-size: 15px;">Stigao</span>
                {% elif stime.updated_at|within_last:4 %}
                <span class="badge bg-success" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:8 %}
                <span class="badge bg-warning" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:15 %}
                <span class="badge bg-danger" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:30 %}
                <span class="badge bg-secondary" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }}</span>
                {% else %}
                <span class="badge bg-light text-dark" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }}</span>
                {% endif %}
            </div>
        </div>
    </a>
    {% empty %}
    <div class="list-group-item">Nema polazaka.</div>
    {% endfor %}
</div>
{% empty %}
<br><h5>Nema spremljenih stanica.</h5>
{% endfor %}

<!--<div id="map" style="height: 320px"></div>-->
<!--<script>-->
<!--    var map = L.map('map').setView([45.8002, 15.9789], 12);-->

<!--    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {-->
<!--        maxZoom: 18,-->
<!--        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'-->
<!--    }).addTo(map);-->

<!--    var points = [-->

<!--    {% for station in map_stations.all %}-->
<!--        [{{ station.stop_lat }}, {{ station.stop_lon }}, "#{{ station.stop_id }}"],-->
<!--    {% endfor %}-->

<!--    ];-->

<!--    var markers = [];-->

<!--    for (var i = 0; i < points.length; i++) {-->
<!--        markers[i] = new L.marker([points[i][0], points[i][1]], {win_url: points[i][2]});-->
<!--        markers[i].addTo(map);-->
<!--        markers[i].on('click', onClick);-->
<!--    };-->

<!--    function onClick(e) {-->
<!--        window.location.replace(this.options.win_url, "_self");-->
<!--    };-->

<!--    var group = L.featureGroup(markers);-->
<!--    map.fitBounds(group.getBounds(), {padding: [10,10]})-->

<!--</script>-->

{% endblock %}