{% extends 'search/base.html' %}
{% block content %}

{% load static %}
{% load custom_tags %}

<div id="map" style="position: fixed; top: 0; left: 0; z-index: 0; height:120vh; width:100%; pointer-events:auto;"></div>
<div id="map-window" style="width:100%; height: 50vh; z-index: -1; pointer-events:none;"></div>

<div id="alerts" class="d-grid gap-4"></div>
<div id="timetable" class="d-grid gap-4" style="z-index: 2; pointer-events: auto;"></div>

<button id="home-button" type="button" class="btn btn-secondary mx-auto shadow rounded-pill"
    onclick="show_favourites()" style="{% if not station %}display: none;{% endif %} z-index: 2">
    {% if request.COOKIES.saved_stops %}
    <i class="bi bi-star-fill"></i> Spremljene stanice
    {% else %}
    <i class="bi bi-globe-americas"></i> Natrag na kartu
    {% endif %}
</button>

<div style="display: none">
    <div id="loading-div" class="shadow list-group" style="border-radius: 29.6px;">
        <div class="list-group-item list-group-item-dark">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-6 rounded-2"></div>
                <div class="placeholder col-1 ms-auto rounded-2"></div>
                <div class="placeholder col-1 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const url_template = '/timetable/?hs=1&rc=1&tb=1&sh=1&al=1&fb=1&adb=1&hm=1&cs=1';
    const index_url = url_template + '&to=-0.5&num=4&id=index';
    const stop_url = url_template + '&to=-1.9&mn=1';

    {% if station %}
        var curr_url = stop_url + '&id={{ id }}';
    {% else %}
        var curr_url = index_url;
    {% endif %}

    var init_center = [45.813038, 15.976928];
    var panToLoc = false;

    {% if station %}
        const center = [{{ station.stop_loc.x }}, {{ station.stop_loc.y }}];
        const init_zoom = 17;
    {% else %}
        const center = init_center;
        const init_zoom = 15;
        navigator.geolocation.watchPosition(succes_get_location, error_get_location);
    {% endif %}

    var map = L.map('map', {attributionControl: false, zoomControl: false, zoomSnap: 0.25});
    var renderer = L.canvas();
    
    var map_win_height = document.getElementById('map-window').offsetHeight;
    var map_offset = new L.Point(0, map_win_height/2)
    set_view_offset(center, init_zoom);

    function set_view_offset(latlang, targetZoom){
        var targetPoint = map.project(latlang, targetZoom).add(map_offset),
        latlang = map.unproject(targetPoint, targetZoom);
        map.setView(latlang, targetZoom)
    }

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {maxZoom: 21, minZoom: 9}).addTo(map);

    var train_red = L.icon({
        iconUrl: '{% static '/icons/train_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var tram_red = L.icon({
        iconUrl: '{% static '/icons/tram_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var bus_red = L.icon({
        iconUrl: '{% static '/icons/bus_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var loc_icon = L.icon({
        iconUrl: '{% static '/icons/loc_ping.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var markers = L.layerGroup();
    var location_layer = L.layerGroup();

    refresh_stops();

    function succes_get_location(position){
        init_center = [position.coords.latitude, position.coords.longitude];
        location_layer.clearLayers();
        location_layer = L.layerGroup([L.marker(init_center, {icon: loc_icon, interactive: false,})]).addTo(map);
        //L.circle(init_center, position.coords.accuracy), 

        if (panToLoc == false){
            set_view_offset(init_center, map.getZoom());
            panToLoc = true;
        }
    };
    
    function error_get_location(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    };
    
    var get_location_options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    ////

    map.on("moveend", function(){
        refresh_stops();
    } );

    async function refresh_stops() {
        var bounds = map.getBounds();
        var sw = bounds.getSouthWest();
        var ne = bounds.getNorthEast();
        var zoom = map.getZoom();

        var points = await fetch_stops_bbox(sw.lng, sw.lat, ne.lng, ne.lat, zoom);

        var marker_arr = [];
        var marker_label_arr = [];
        markers.clearLayers();

        for (var i = 0; i < points.length; i++) {
            if (points[i].type == 2) {icon = train_red}
            else if (points[i].type == 0) {icon = tram_red}
            else if (points[i].type == 3) {icon = bus_red}

            marker_arr[i] = new L.marker([points[i].lat, points[i].lon], {stop_id: points[i].id, renderer: renderer, icon:icon});
            marker_arr[i].on('click', onClick);

            if (points.length <= 35){
                marker_label_arr[i] = new L.marker([points[i].lat, points[i].lon], {
                    icon: L.divIcon({
                        html: points[i].name,
                        className: 'marker-label',
                    }),
                    interactive: false,
                });
            };
        };

        markers = L.layerGroup(marker_arr.concat(marker_label_arr)).addTo(map);
    };

    function onClick(e) {
        change_stop(this.options.stop_id, this.getLatLng());
    };

    function change_stop(stop_id, latlang){
        curr_url = stop_url + `&id=${ stop_id }`;
        show_loading();

        $.get(curr_url).done(function(page) {
            var r = $(page);
            $('#timetable').replaceWith(r);
            $('#alerts').replaceWith(r);
        });

        set_view_offset(latlang, Math.max(17, map.getZoom()));
        home_toggle(1);
    };

    function load_more_stations(stop_id, num){
        curr_url = stop_url + `&num=${num + 20}&id=${ stop_id }`;
        $('#timetable').load(curr_url +  ' #timetable');
    }

    var syncInterval = 20 * 1000; //sync every 20sec
    show_loading();
    first_load();

    function first_load() {
        lastSync = new Date().getTime(); //set last sync to be now
        
        $.get(curr_url).done(function(page) {
            var r = $(page);
            $('#timetable').replaceWith(r);
            $('#alerts').replaceWith(r);
        });
    }

    function syncPage() {
        lastSync = new Date().getTime(); //set last sync to be now
        
        $('#timetable').load(curr_url +  ' #timetable');
    }

    setInterval(function() {
        var now = new Date().getTime();
        if ((now - lastSync) > syncInterval ) {
            syncPage();
        }
    }, 2 * 1000); //check every 2 seconds

    $(window).focus(function() {
        syncPage();
    });     

    function show_favourites(){
        curr_url = index_url;
        $('#timetable').load(curr_url +  ' #timetable');
        $('#alerts').empty();

        set_view_offset(init_center, 15);
        show_loading();
        window.scrollTo(0, 0);
        home_toggle(0);
    }

    function show_loading(){
        const timetable = document.getElementById("timetable");
        var loading = document.getElementById("loading-div").cloneNode(true);
        timetable.innerHTML = "";
        timetable.appendChild(loading);

        const alerts = document.getElementById("alerts");
        alerts.innerHTML = "";
    }

    function home_toggle(st){
        if (st == 1){
            $('#home-button').show();
        } else {
            $('#home-button').hide();
        }
    }

    function getRelativeTimeOrHHMM(dateObj) {
        const now = new Date();
        const timeDiffMs = dateObj - now;
        const timeDiffMinutes = Math.floor(timeDiffMs / (1000 * 60));

        if (timeDiffMs < 0) {
            return "Stigao";
        } else if (timeDiffMinutes <= 10) {
            return timeDiffMinutes + " min";
        } else {
            const hours = String(dateObj.getHours()).padStart(2, "0");
            const minutes = String(dateObj.getMinutes()).padStart(2, "0");
            return hours + ":" + minutes;
        }
    }

    function updateCountdownElements() {
        $(".countdown").each(function() {
          const datetime = $(this).data("datetime");
          const targetDate = new Date(datetime);
          $(this).html(getRelativeTimeOrHHMM(targetDate));
        });
    }
      
    $(document).ready(function() {
        setInterval(function() {
          updateCountdownElements();
        }, 1000);
    });



    {% comment %} $(function () { 
        const isIos = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
            return /iphone|ipad|ipod/.test( userAgent );
        }
        const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);
    
        if (isIos() && !isInStandaloneMode()) {
            $("#install-ios").modal("show");
        };
    }); {% endcomment %}
</script>

{% endblock %}