{% extends 'search/base.html' %}
{% block content %}

{% load static %}
{% load custom_tags %}

<div id="map" style="position: fixed; top: 0; left: 0; z-index: 0; height:120vh; width:100%; pointer-events:auto;"></div>
<div id="map-window" style="width:100%; height: 50vh; z-index: -1; pointer-events:none;"></div>

<div id="timetable" class="d-grid gap-4" style="z-index: 2; pointer-events: auto;">

{% for key, val in stops.items %}
<div class="shadow list-group" style="border-radius: 29.6px;">
    <div class="list-group-item list-group-item-dark">
        <div class="row">
            <div class="col">
                <a class="text-reset text-decoration-none" href="/station/?id={{ key }}">
                    <strong>{{ val.station_name }}</strong>
                    {% if val.hs %} &rarr; {{ val.hs }}{% endif %}
                </a>
            </div>
            {% comment %} <div class="col-auto">
                <a href="/station/?id={{ key }}" style="color: black;"><i class="bi bi-box-arrow-up-right"></i></a>
            </div> {% endcomment %}

            <div class="col-auto d-flex gap-4">
                <a href="/station/?id={{ key }}&td=0&ad=1" style="color: black;"><i class="bi bi-calendar-week"></i></a>
           
                <a onclick="save_stop('{{ key }}')" style="color: black;">
                    {% if key in request.COOKIES.saved_stops %}
                    <i id="save-fill-{{ key }}" class="bi bi-star-fill"></i>
                    <i id="save-nfill-{{ key }}" class="bi bi-star" style="display:none;"></i>
                    {% else %}
                    <i id="save-fill-{{ key }}" class="bi bi-star-fill" style="display:none;"></i>
                    <i id="save-nfill-{{ key }}" class="bi bi-star"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>

    {% for stime in val.stimes %}
    <a href="/trip/?id={{ stime.trip.trip_id }}" class="list-group-item list-group-item-action">
        <div class="row">
            {% if stime.trip.route.route_short_name %}
            <div class="d-inline" style="width: 50px">
                {{ stime.trip.route.route_short_name }}
            </div>
            {% endif %}
            <div class="col">
                {% if stime.trip.trip_headsign %}
                <strong>{{ stime.trip.trip_headsign }}</strong>
                {% elif stime.trip.route.route_long_name %}
                <strong>{{ stime.trip.route.route_long_name }}</strong>
                {% endif %}
            </div>
            <div class="col-auto d-flex align-items-center gap-1">
                {% if stime.trip.bikes_allowed %}
                <i class="icon-bike"></i>
                {% endif %}
                {% if stime.trip.wheelchair_accessible %}
                <i class="icon-wheelchair"></i>
                {% endif %}

                {% if stime.departure_time_an|arrived:2 %}
                <span class="badge bg-light text-dark" style="font-size: 15px;">Stigao</span>
                {% elif stime.updated_at|within_last:4 %}
                <span class="badge bg-success" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:8 %}
                <span class="badge bg-warning" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:15 %}
                <span class="badge bg-danger" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }} <i
                        class="bi bi-broadcast-pin"></i></span>
                {% elif stime.updated_at|within_last:30 %}
                <span class="badge bg-secondary" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }}</span>
                {% else %}
                <span class="badge bg-light text-dark" style="font-size: 15px;">{{ stime.departure_time_an|min_convert }}</span>
                {% endif %}
            </div>
        </div>
    </a>
    {% empty %}
    <div class="list-group-item">Nema polazaka.</div>
    {% endfor %}

    {% if station %}
        {% if val.stimes|length < num and 'td' not in request.GET %}
        <a href="/station/?id={{ key }}&td=1&ad=1" class="list-group-item list-group-item-action text-center" style="font-size: 11px">Sljedeći dan
            <i class="bi bi-calendar-plus"></i></a>
        {% elif num %}
        <a href="javascript: load_more_stations('{{ key }}', {{ num }});" class="list-group-item list-group-item-action text-center" style="font-size: 11px">Učitaj još
            <i class="bi bi-arrow-clockwise"></i></a>
        {% endif %}
    {% endif %}
</div>

{% endfor %}

{% if station and request.COOKIES.saved_stops %}
    <button type="button" class="btn btn-secondary mx-auto shadow rounded-pill"
        onclick="show_favourites()">
        <i class="bi bi-star-fill"></i> Spremljene stanice
    </button>
{% endif %}

</div>

<div style="display: none">
    <div id="loading-div" class="shadow list-group" style="border-radius: 29.6px;">
        <div class="list-group-item list-group-item-dark">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-6 rounded-2"></div>
                <div class="placeholder col-1 ms-auto rounded-2"></div>
                <div class="placeholder col-1 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto bg-success  rounded-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var curr_url = document.URL;

    var init_center = [45.813038, 15.976928];
    var panToLoc = false;

    {% if station %}
        const center = [{{ station.stop_loc.x }}, {{ station.stop_loc.y }}];
        const init_zoom = 17;
    {% else %}
        const center = init_center;
        const init_zoom = 15;
        navigator.geolocation.watchPosition(succes_get_location, error_get_location);
    {% endif %}

    var map = L.map('map', {attributionControl: false, zoomControl: false, zoomSnap: 0.25});
    var renderer = L.canvas();
    
    var map_win_height = document.getElementById('map-window').offsetHeight;
    var map_offset = new L.Point(0, map_win_height/2)
    set_view_offset(center, init_zoom);

    function set_view_offset(latlang, targetZoom){
        var targetPoint = map.project(latlang, targetZoom).add(map_offset),
        latlang = map.unproject(targetPoint, targetZoom);
        map.setView(latlang, targetZoom)
    }

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {maxZoom: 21, minZoom: 9}).addTo(map);

    var train_red = L.icon({
        iconUrl: '{% static '/icons/train_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var tram_red = L.icon({
        iconUrl: '{% static '/icons/tram_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var bus_red = L.icon({
        iconUrl: '{% static '/icons/bus_red.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var loc_icon = L.icon({
        iconUrl: '{% static '/icons/loc_ping.png' %}',
        iconSize:     [26, 26],
        iconAnchor:   [13, 13],
        popupAnchor:  [13, 13]
    });

    var markers = L.layerGroup();
    var location_layer = L.layerGroup();

    refresh_stops();

    function succes_get_location(position){
        init_center = [position.coords.latitude, position.coords.longitude];
        location_layer.clearLayers();
        location_layer = L.layerGroup([L.marker(init_center, {icon: loc_icon})]).addTo(map);
        //L.circle(init_center, position.coords.accuracy), 

        if (panToLoc == false){
            set_view_offset(init_center, map.getZoom());
            panToLoc = true;
        }
    };
    
    function error_get_location(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    };
    
    var get_location_options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    ////

    map.on("moveend", function(){
        refresh_stops();
    } );

    async function refresh_stops() {
        var bounds = map.getBounds();
        var sw = bounds.getSouthWest();
        var ne = bounds.getNorthEast();
        var zoom = map.getZoom();

        var points = await fetch_stops_bbox(sw.lng, sw.lat, ne.lng, ne.lat, zoom);

        var marker_arr = [];
        var marker_label_arr = [];
        markers.clearLayers();

        for (var i = 0; i < points.length; i++) {
            if (points[i].type == 2) {icon = train_red}
            else if (points[i].type == 0) {icon = tram_red}
            else if (points[i].type == 3) {icon = bus_red}

            marker_arr[i] = new L.marker([points[i].lat, points[i].lon], {stop_id: points[i].id, renderer: renderer, icon:icon});
            marker_arr[i].on('click', onClick);

            if (points.length <= 35){
                marker_label_arr[i] = new L.marker([points[i].lat, points[i].lon], {
                    icon: L.divIcon({
                        html: points[i].name,
                        className: 'marker-label',
                    })
                });
            };
        };

        markers = L.layerGroup(marker_arr.concat(marker_label_arr)).addTo(map);
    };

    function onClick(e) {
        change_stop(this.options.stop_id, this.getLatLng());
    };

    function change_stop(stop_id, latlang){
        curr_url = '/station/?id=' + stop_id;
        $('#timetable').load(curr_url +  ' #timetable');
        set_view_offset(latlang, Math.max(17, map.getZoom()));
        show_loading();
    };

    function load_more_stations(stop_id, num){
        curr_url= `/station/?id=${ stop_id }&num=${num + 20}`;
        $('#timetable').load(curr_url +  ' #timetable');
    }

    var lastSync = 0;
    var syncInterval = 20 * 1000; //sync every 20sec

    function syncPage() {
        lastSync = new Date().getTime(); //set last sync to be now
        $('#timetable').load(curr_url +  ' #timetable');
    }

    setInterval(function() {
        var now = new Date().getTime();
        if ((now - lastSync) > syncInterval ) {
            syncPage();
        }
    }, 2 * 1000); //check every 2 seconds

    function show_favourites(){
        curr_url = '/';
        $('#timetable').load(curr_url +  ' #timetable');
        set_view_offset(init_center, 15);
        show_loading();
        window.scrollTo(0, 0);
    }

    function show_loading(){
        const timetable = document.getElementById("timetable");
        var loading = document.getElementById("loading-div").cloneNode(true);;
        timetable.innerHTML = "";
        timetable.appendChild(loading);
    }

</script>

<style>
    .marker-label {
        min-width: 104px;
        left: -46px;
        top: 18px;
        text-align: center;
        font-weight: bold;
        font-size: 9px;
        min-height: 1.2em;
      }
</style>

{% endblock %}