{% extends 'search/base.html' %}
{% block content %}

{% load custom_tags %}

{% for news in news_entries %}
<div class="alert alert-warning" role="alert" style="border-radius: 29.6px; margin-bottom: 0" onclick="$('#alert-{{ forloop.counter }}').modal('show');">
    <strong><i class="bi bi-exclamation-triangle-fill"></i> {{ news.title }}</strong> ...više
</div>

<div id="alert-{{ forloop.counter }}" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content" style="border-radius: 29.6px; height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title">{{ news.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body initial-css">
                {{ news.description|safe }}
            </div>
            <div class="modal-footer">
                {{ news.date|date:'d.m.Y H:i' }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div id="content" class="d-grid gap-4">

<div id="date-selector" class="btn-group btn-group-sm">
    {% for d in days %}
    {% if forloop.first %}
    <a class="btn btn-secondary {% if td == d.td %}active{% endif %}"
       style="border-top-left-radius: 9999px; border-bottom-left-radius: 9999px;" href="javascript: change_day({{ d.td }});">{{ d.wd }}<br>{{ d.day }}</a>
    {% elif forloop.last %}
    <a class="btn btn-secondary {% if td == d.td %}active{% endif %}"
       style="border-top-right-radius: 9999px; border-bottom-right-radius: 9999px;" href="javascript: change_day({{ d.td }});">{{ d.wd }}<br>{{ d.day }}</a>
    {% else %}
    <a class="btn btn-secondary {% if td == d.td %}active{% endif %}" href="javascript: change_day({{ d.td }});">{{ d.wd }}<br>{{ d.day }}</a>
    {% endif %}
    {% endfor %}
</div>

<div class="list-group" style="border-radius: 29.6px">
    <div class="list-group-item list-group-item-dark">
        <div class="row">
            {% if route.route_short_name %}
            <div class="col-auto">
                <strong>{{ route.route_short_name }}</strong>
            </div>
            {% endif %}
            <div class="col">
                 {{ route.route_long_name }}
            </div>
        </div>
    </div>

    {% for trip in trips %}
    <a class="list-group-item list-group-item-action nav-load"
       id="{{ stime.stop.stop_id }}"
       href="/trip/?id={{ trip.trip_id }}&td={{ td }}">
        <div class="row">
            <div class="col-4 d-flex align-items-center">
                {{ trip.first_stop }}
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <span class="h-auto badge bg-light text-dark" style="font-size: 15px;">{{ trip.first_stop_time|date:'H:i' }} &#x2022; {{ trip.last_stop_time|date:'H:i' }}</span>
            </div>
            <div class="col-4 text-end d-flex justify-content-end align-items-center">
                {{ trip.last_stop }}
            </div>
        </div>
    </a>
    {% if user.is_superuser %}
    <div class="row font-monospace bg-dark text-white">
    </div>
    {% endif %}
    {% empty %}
    <div class="list-group-item">Nema polazaka.</div>
    {% endfor %}
</div>

</div>

<div style="display: none">
    <div id="loading-div" class="list-group" style="border-radius: 29.6px;">
        <div class="list-group-item list-group-item-dark">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-6 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-2 rounded-2"></div>
                <div class="placeholder col-3 mx-auto rounded-2"></div>
                <div class="placeholder col-2 rounded-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function change_day(td){
        var url = `?id={{ request.GET.id }}&td=${ td }`;
        $('#content').load(url +  ' #content');
        show_loading();
    }

    function show_loading(){
        const timetable = document.getElementById("content");
        var loading = document.getElementById("loading-div").cloneNode(true);
        var date = document.getElementById("date-selector").cloneNode(true);
        timetable.innerHTML = "";
        timetable.appendChild(date);
        timetable.appendChild(loading);
    }
</script>
{% endblock %}