{% extends 'search/base.html' %}
{% block content %}

{% load custom_tags %}

{% if station.news_entries %}
<div class="alert alert-warning" role="alert" style="border-radius: 29.6px; margin-bottom: 0">
    {% for news in station.news_entries %}
    <a href="#alert-{{ forloop.counter }}" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#alert-{{ forloop.counter }}" style="color: inherit;">
        <strong><i class="bi bi-exclamation-triangle-fill"></i> {{ news.title }}</strong> ...više
    </a>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>

{% for news in station.news_entries %}
<div id="alert-{{ forloop.counter }}" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content" style="border-radius: 29.6px; height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title">{{ news.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ news.description|safe }}
            </div>
            <div class="modal-footer">
                {{ news.date|date:'d.m.Y H:i' }} &#x2022;
                <a href="{{ news.link }}">Link</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

<div id="date-selector" class="btn-group btn-group-sm">
{% for d in days %}
    {% if forloop.first %}
    <input type="radio" class="btn-check" name="dates" id="date{{ forloop.counter }}" autocomplete="off" onclick="change_day({{ d.td }});" {% if td == d.td %}checked{% endif %}/>
    <label class="btn btn-secondary" for="date{{ forloop.counter }}" style="border-top-left-radius: 9999px; border-bottom-left-radius: 9999px;">{{ d.wd }}<br>{{ d.day }}</label>
    {% elif forloop.last %}
    <input type="radio" class="btn-check" name="dates" id="date{{ forloop.counter }}" autocomplete="off" onclick="change_day({{ d.td }});" {% if td == d.td %}checked{% endif %}/>
    <label class="btn btn-secondary" for="date{{ forloop.counter }}" style="border-top-right-radius: 9999px; border-bottom-right-radius: 9999px;">{{ d.wd }}<br>{{ d.day }}</label>
    {% else %}
    <input type="radio" class="btn-check" name="dates" id="date{{ forloop.counter }}" autocomplete="off" onclick="change_day({{ d.td }});" {% if td == d.td %}checked{% endif %}/>
    <label class="btn btn-secondary" for="date{{ forloop.counter }}">{{ d.wd }}<br>{{ d.day }}</label>
    {% endif %}
{% endfor %}
</div>

<div id="timetable" class="d-grid gap-4"></div>

<div style="display: none">
    <div id="loading-div" class="list-group" style="border-radius: 29.6px;">
        <div class="list-group-item list-group-item-dark">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="placeholder col-6 rounded-2"></div>
                <div class="placeholder col-1 ms-auto rounded-2"></div>
                <div class="placeholder col-1 rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
        <div class="list-group-item list-group-item-action">
            <div class="row placeholder-glow d-felx gap-2 px-2 py-1">
                <div class="d-inline placeholder rounded-2" style="width: 50px"></div>
                <div class="placeholder col-3 rounded-2"></div>
                <div class="placeholder col-2 ms-auto rounded-2"></div>
            </div>
        </div>
    </div>
</div>

<script>
    const url_template = '/timetable/?hs=1&rc=1&tb=1&ad=1&fb=1&mb=1';

    var first_pan = true;

    function change_day(td){
        var url = url_template + `&td=${ td }&id={{ request.GET.id }}`;

        $('#timetable').load(url +  ' #timetable', function() {
            if (first_pan){
                window.scrollTo(0, $(window.location.hash).offset().top - window.innerHeight / 2); 
                $(window.location.hash).focus();

                first_pan = false;
            }
        });

        show_loading();
    }

    function show_loading(){
        const timetable = document.getElementById("timetable");
        var loading = document.getElementById("loading-div").cloneNode(true);

        timetable.innerHTML = "";
        timetable.appendChild(loading);
    }

    change_day({{ td }});
</script>
{% endblock %}