{% extends 'search/base.html' %}
{% block content %}

{% load static %}
{% load custom_tags %}

<div id="map" style="position: fixed; top: 0; left: 0; z-index: 0; height:120vh; width:100%; pointer-events:auto;"></div>
<div id="map-window" style="width:100%; height: 50vh; z-index: -1; pointer-events:none;"></div>

<div id="alerts" class="d-grid gap-4">
{% if trip.news_entries %}
<div class="alert alert-warning" role="alert" style="border-radius: 29.6px; margin-bottom: 0">
    {% for news in trip.news_entries %}
    <a href="#alert-{{ forloop.counter }}" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#alert-{{ forloop.counter }}" style="color: inherit;">
        <strong><i class="bi bi-exclamation-triangle-fill"></i> {{ news.title }}</strong> ...više
    </a>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
{% endif %}

{% for news in trip.news_entries %}
<div id="alert-{{ forloop.counter }}" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content" style="border-radius: 29.6px; height: 75vh">
            <div class="modal-header">
                <h5 class="modal-title">{{ news.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ news.description|safe }}
            </div>
            <div class="modal-footer">
                {{ news.date|date:'d.m.Y H:i' }} &#x2022;
                <a href="{{ news.link }}">Link</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

<div class="list-group shadow" style="z-index: 2; border-radius: 29.6px">
    <div class="list-group-item list-group-item-dark">
        <div class="row">
            <div class="col-auto">
                <strong>
                    {% if trip.route.route_short_name %}
                        {{ trip.route.route_short_name }}
                    {% elif trip.trip_short_name %}
                        {{ trip.trip_short_name }}
                    {% endif %}
                </strong>
            </div>
            <div class="col">
                 {% comment %} {{ trip.route.route_long_name }} {% endcomment %}
                 {{ first_stop.stop.stop_name }} &rarr; {{ last_stop.stop.stop_name }}
            </div>
            <div class="col-auto">
                <a class="icon-link icon-link-hover link-secondary nav-load" href="/route/?id={{ trip.route.route_id }}&td={{ td }}"><i
                        class="bi bi-calendar-week"></i></a>
            </div>
        </div>
    </div>

    <div id="collapse_past" class="list-group list-group-flush {% if next_stop %}collapse{% else %}collapse show{% endif %}"
    {% if not future_stops %}
    style="border-bottom-left-radius: 29.6px; border-bottom-right-radius: 29.6px"
    {% endif %}>

        {% for stime in past_stops %}
        <a {% if stime.stop.location_type == 0 %}
           href="/station/?id={{ stime.stop.parent_station.stop_id }}"
           {% elif stime.stop.location_type == 1 %}
           href="/station/?id={{ stime.stop.stop_id }}"
           {% endif %}
           class="list-group-item list-group-item-action nav-load"
           id="{{ stime.stop.stop_id }}">

           <span class="data" data-x="{{ stime.stop.stop_loc.x }}" data-y="{{ stime.stop.stop_loc.y }}" data-id="#{{ stime.stop.stop_id }}" hidden></span>

            <div class="row">
                <div class="col">
                    {% if stime.stop.news_entries %}
                    <span class="text-warning">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </span>
                    {% endif %}

                    {{ stime.stop.stop_name }}
                    {% if stime.delay_departure_an|delay_min != 0 %}
                        <br><div class="text-muted"><small>
                            Stigao {{ stime.delay_departure_an|delay_min|abs }} min
                            {% if stime.delay_departure_an|delay_min < 0 %} ranije{% else %} kasnije{% endif %}
                            &#8226; <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival_an|date:'H:i' }}</span>
                        </small></div>
                    {% endif %}
                </div>
                <div class="col-auto d-flex align-items-center">
                    <span class="badge contrasted-text position-relative" style="font-size: 13px;">
                        Stigao u {{ stime.arrival_time_an|date:'H:i' }}
                    </span>
                </div>
            </div>

            {% if user.is_superuser %}
            <div class="row font-monospace bg-dark text-white">
                <div class="col-auto">
                    Departure time:<br>
                    Stop sequence:<br>
                    Trip id:<br>
                    Delay:<br>
                    Updated at:
                </div>
                <div class="col">
                    {{ stime.departure_time }}<br>
                    {{ stime.stop_sequence }}<br>
                    {{ stime.trip.trip_id }}<br>
                    {{ stime.delay_departure_an }}<br>
                    {{ stime.updated_at|timesince }}
                </div>
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>

    <a id="collapse_button" class="list-group-item list-group-item-dark text-center border-0" data-bs-toggle="collapse" href="#collapse_past"
       role="button" aria-expanded="false" aria-controls="collapse"
       style="font-size: 11px; display:{% if past_stops and future_stops %}initial{% else %}none{% endif %}">
        Prethodne stanice <i class="bi bi-arrows-collapse"></i>
    </a>

    <div id="future" class="list-group list-group-flush" style="border-bottom-left-radius: 29.6px; border-bottom-right-radius: 29.6px">
        {% for stime in future_stops %}
        <a {% if stime.stop.location_type == 0 %}
            href="/station/?id={{ stime.stop.parent_station.stop_id }}"
            {% elif stime.stop.location_type == 1 %}
            href="/station/?id={{ stime.stop.stop_id }}"
            {% endif %}
            class="list-group-item list-group-item-action nav-load"
            id="{{ stime.stop.stop_id }}">

            <span class="data" data-x="{{ stime.stop.stop_loc.x }}" data-y="{{ stime.stop.stop_loc.y }}" data-id="#{{ stime.stop.stop_id }}" hidden></span>

            <div class="row">
                <div class="col">
                    {% if stime.stop.news_entries %}
                    <span class="text-warning">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </span>
                    {% endif %}
                    
                    {{ stime.stop.stop_name }}
                    {% if stime.delay_departure_an|delay_min != 0 %}
                        {% if stime.updated_at|within_last:8 %}
                        <br><div class="fw-semibold text-danger-emphasis"><small>
                            Stiže {{ stime.delay_departure_an|delay_min|abs }} min
                            {% if stime.delay_departure_an|delay_min < 0 %} ranije{% else %} kasnije{% endif %}
                            &#8226; <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival_an|date:'H:i' }}</span>
                        </small></div>
                        {% else %}
                        <br><div class="text-muted"><small>
                            {% if stime.delay_departure_an|delay_min < 0 %}
                            Moguć {{ stime.delay_departure_an|delay_min|abs }} min raniji dolazak 
                            {% else %}
                            Moguće kašnjenje od {{ stime.delay_departure_an|delay_min|abs }} min
                            {% endif %}
                            &#8226; <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival_an|date:'H:i' }}</span>
                        </small></div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-auto d-flex align-items-center">

                    <span style="font-size: 15px;" 
                    {% if stime.updated_at|within_last:4 and stime == next_stop or stime.wait_updated_at|within_last:4 and stime == next_stop %}
                        class="badge bg-success"
                    {% elif stime.updated_at|within_last:8 and stime == next_stop or stime.wait_updated_at|within_last:8 and stime == next_stop %}
                        class="badge bg-warning"
                    {% elif stime.updated_at|within_last:15 and stime == next_stop or stime.wait_updated_at|within_last:15 and stime == next_stop %}
                        class="badge bg-danger"
                    {% elif stime.updated_at|within_last:30 and stime == next_stop or stime.wait_updated_at|within_last:30 and stime == next_stop %}
                        class="badge bg-secondary"
                    {% else %}
                        class="badge contrasted-text"
                    {% endif %}>

                    {%if stime.arrival_time_an == stime.departure_time_an %}
                        {{ stime.arrival_time_an|min_convert }}
                    {% else %}
                        {{ stime.arrival_time_an|min_convert }} &#8226; {{ stime.departure_time_an|min_convert }}
                    {% endif %}

                    {% if stime.updated_at|within_last:30 and stime == next_stop %}
                        <i class="bi bi-broadcast-pin"></i>
                    {% endif %}
                    </span>
                </div>

            </div>

            {% if user.is_superuser %}
                <div class="row font-monospace bg-dark text-white" style="z-index: 10">
                    <div class="col-auto">
                        Departure time:<br>
                        Stop sequence:<br>
                        Trip id:<br>
                        Delay:<br>
                        Updated at:
                    </div>
                    <div class="col">
                        {{ stime.departure_time }}<br>
                        {{ stime.stop_sequence }}<br>
                        {{ stime.trip.trip_id }}<br>
                        {{ stime.delay_departure_an }}<br>
                        {{ stime.updated_at|timesince }}
                    </div>
                </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>

<script>
    var map = L.map('map', {attributionControl: false, zoomControl: false, zoomSnap: 0.25});

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', { maxZoom: 17}).addTo(map);

    var winDivRect = document.getElementById('map-window').getBoundingClientRect();
    var mapDivRect = document.getElementById('map').getBoundingClientRect();

    var padding = {
        paddingTopLeft: [winDivRect.left, winDivRect.top],
        paddingBottomRight: [mapDivRect.right - winDivRect.right, mapDivRect.bottom - winDivRect.bottom]
    };

    var firstFit = false;
    var layerGroup = L.layerGroup();

    ////

    var station_icon = L.icon({
        iconUrl: '{% static '/icons/station_icon.png' %}',
        iconSize:     [14, 14],
        iconAnchor:   [7, 7],
        popupAnchor:  [7, 7]
    });
    var station_icon_grey = L.icon({
        iconUrl: '{% static '/icons/station_icon_grey.png' %}',
        iconSize:     [14, 14],
        iconAnchor:   [7, 7],
        popupAnchor:  [7, 7]
    });
    var pulse_icon = L.icon({
        iconUrl: '{% static '/icons/pulse.svg' %}',
        iconSize:     [60, 60],
        iconAnchor:   [30, 30],
        popupAnchor:  [30, 30],
        className: 'pulse-icon'
    });


    function refresh_map(){

        layerGroup.remove();

        var markers = [];
        
        const past_elements = document.getElementById('collapse_past').getElementsByClassName('data');
        var past_stops = [];

        for (let i = 0; i < past_elements.length; i++) {
            const el = past_elements[i];
            past_stops[i] = [el.getAttribute('data-x'), el.getAttribute('data-y'), el.getAttribute('data-id')];
        }

        const future_elements = document.getElementById('future').getElementsByClassName('data');
        var future_stops = [];

        for (let i = 0; i < future_elements.length; i++) {
            const el = future_elements[i];
            future_stops[i] = [el.getAttribute('data-x'), el.getAttribute('data-y'), el.getAttribute('data-id')];
        }

        ////

        for (var i = 0; i < past_stops.length; i++) {
            markers.push(L.marker([past_stops[i][0], past_stops[i][1]], {id: past_stops[i][2], icon: station_icon_grey}).on('click', onClick));
        };

        for (var j = 0; j < future_stops.length; j++) {
            markers.push(L.marker([future_stops[j][0], future_stops[j][1]], {id: future_stops[j][2], icon: station_icon}).on('click', onClick));
        };

        if (future_stops.length > 0){
            past_stops.push(future_stops[0]);
            markers.push(new L.marker([future_stops[0][0], future_stops[0][1]], {icon: pulse_icon, interactive: false,}));
        };

        markers.push(L.polyline(past_stops, {color: 'gray', weight: 5}));
        markers.push(L.polyline(future_stops, {color: 'red', weight: 5}));

        layerGroup = L.layerGroup(markers);
        layerGroup.addTo(map);

        var all_stops = past_stops.concat(future_stops);

        if (firstFit == false){
            map.fitBounds(all_stops, padding);
            firstFit = true;
        }
    }

    refresh_map();

    ////

    function onClick(el) {
        window.scrollTo(0, $(this.options.id).offset().top - window.innerHeight / 2); 
        $(this.options.id).focus();
    };

    var lastSync = new Date().getTime();
    var syncInterval = 20 * 1000; //sync every 20sec

    function syncPage() {
        lastSync = new Date().getTime(); //set last sync to be now

        $.get(document.URL, function( page ) {
            var collapse_past_elem = $(page).find('#collapse_past').html();
            $('#collapse_past').html(collapse_past_elem);

            var future_elem = $(page).find('#future').html();
            $('#future').html(future_elem);

            var collapse_button_display = $(page).find('#collapse_button').css("display");
            $('#collapse_button').css("display", collapse_button_display);

            if ($('#future').children().length <= 0){
                $('#collapse_past').collapse('show');
                
                const r = $('#future').css("border-bottom-left-radius");
                $('#collapse_past').css("border-bottom-left-radius", r);
                $('#collapse_past').css("border-bottom-right-radius", r);
            }

            refresh_map();
        });
    }

    setInterval(function() {
        var now = new Date().getTime();
        if ((now - lastSync) > syncInterval ) {
            syncPage();
        }
    }, 2 * 1000); //check every 2 seconds

    $(window).focus(function() {
        syncPage();
    });
    
</script>

{% endblock %}