{% extends 'search/base.html' %}
{% block content %}

{% load custom_tags %}
{% load static %}

<div id="map" style="position: fixed; top: 0; left: 0; z-index: 0; height:120vh; width:100%; pointer-events:auto;"></div>
<div id="map-window" style="width:100%; height: 50vh; z-index: -1; pointer-events:none;"></div>

<div id="timetable" class="list-group" style="border-radius: 29.6px">
    <div class="list-group-item list-group-item-dark">
        <div class="row">
            <div class="col-auto">
                <strong>
                    {% if trip.route.route_short_name %}
                        {{ trip.route.route_short_name }}
                    {% elif trip.trip_short_name %}
                        {{ trip.trip_short_name }}
                    {% endif %}
                </strong>
            </div>
            <div class="col">
                 {{ trip.route.route_long_name }}
            </div>
            <div class="col-auto">
                <a href="/route/?id={{ trip.route.route_id }}" style="color: black;"><i
                        class="bi bi-calendar-week"></i></a>
            </div>
        </div>
    </div>

    <div id="collapse_past"
         {% if next_stop %}
         class="collapse"
         {% else %}
         class="collapse show"
         {% endif %}>

        {% for stime in past_stops %}
        <a {% if stime.stop.location_type == 0 %}
           href="/station/?id={{ stime.stop.parent_station.stop_id }}"
           {% elif stime.stop.location_type == 1 %}
           href="/station/?id={{ stime.stop.stop_id }}"
           {% endif %}
           class="list-group-item list-group-item-action"
           id="{{ stime.stop.stop_id }}">

           <span class="data" data-x="{{ stime.stop.stop_loc.x }}" data-y="{{ stime.stop.stop_loc.y }}" data-id="#{{ stime.stop.stop_id }}" hidden></span>

            <div class="row">
                <div class="col">
                    {{ stime.stop.stop_name }}
                    {% if stime.delay_departure|delay_min > 1 or stime.delay_departure|delay_min < -1 %}
                        <br><div class="fw-semibold text-danger-emphasis"><small>
                            {{ stime.delay_departure|delay_min|abs }} min
                            {% if stime.delay_departure|delay_min < 0 %} ranije{% else %} kasnije{% endif %}
                            &#8226; <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival|date:'H:i' }}</span>
                        </small></div>
                    {% endif %}
                </div>
                <div class="col-auto d-flex align-items-center">
                    <span class="badge bg-light text-dark position-relative" style="font-size: 13px;">
                        Stigao u {{ stime.arrival_time_an|date:'H:i' }}
                        {% comment %} {% if stime.delay_departure|delay_min > 1 or stime.delay_departure|delay_min < -1 %}
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill px-1 text-bg-secondary"
                            style="font-size: 12px; z-index:99">{{ stime.delay_departure|delay_min|signed }}&prime;</span>
                        {% endif %} {% endcomment %}
                    </span>
                </div>
            </div>

            {% if user.is_superuser %}
            <div class="row font-monospace bg-dark text-white">
                <div class="col-auto">
                    Departure time:<br>
                    Stop sequence:<br>
                    Trip id:<br>
                    Delay:<br>
                    Updated at:
                </div>
                <div class="col">
                    {{ stime.departure_time }}<br>
                    {{ stime.stop_sequence }}<br>
                    {{ stime.trip.trip_id }}<br>
                    {{ stime.delay_departure }}<br>
                    {{ stime.updated_at|timesince }}
                </div>
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>

    {% if past_stops %}
    <a class="list-group-item list-group-item-dark text-center border-0" data-bs-toggle="collapse" href="#collapse_past"
       role="button"
       aria-expanded="false" aria-controls="collapse" style="font-size: 11px">
        Prethodne stanice <i class="bi bi-arrows-collapse"></i>
    </a>
    {% endif %}

    <div id="future" style="border-bottom-left-radius: 29.6px; border-bottom-right-radius: 29.6px">
        {% for stime in future_stops %}
        <a {% if stime.stop.location_type == 0 %}
            href="/station/?id={{ stime.stop.parent_station.stop_id }}"
            {% elif stime.stop.location_type == 1 %}
            href="/station/?id={{ stime.stop.stop_id }}"
            {% endif %}
        class="list-group-item list-group-item-action"
        id="{{ stime.stop.stop_id }}">

            <span class="data" data-x="{{ stime.stop.stop_loc.x }}" data-y="{{ stime.stop.stop_loc.y }}" data-id="#{{ stime.stop.stop_id }}" hidden></span>

            <div class="row">
                <div class="col">
                    {{ stime.stop.stop_name }}
                    {% if stime.delay_departure|delay_min > 1 or stime.delay_departure|delay_min < -1 %}
                        <br><div class="fw-semibold text-danger-emphasis"><small>
                            {{ stime.delay_departure|delay_min|abs }} min
                            {% if stime.delay_departure|delay_min < 0 %} ranije{% else %} kasnije{% endif %}
                            &#8226; <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival|date:'H:i' }}</span>
                        </small></div>
                    {% endif %}
                </div>
                <div class="col-auto d-flex align-items-center">
                    {% comment %} {% if stime.delay_arrival|delay_min > 1 or stime.delay_arrival|delay_min < -1 %}
                        <small class="badge text-bg-light" >
                            <span class="text-decoration-line-through">{{ stime.arrival_time_an|subtract:stime.delay_arrival|date:'H:i' }}</span>
                            {{ stime.delay_arrival|delay_min|signed }}min
                        </small>
                    {% endif %} {% endcomment %}

                    {% if stime.updated_at|within_last:4 and stime == next_stop %}
                    <span class="badge bg-success" style="font-size: 15px;">
                        {%if stime.arrival_time_an == stime.departure_time_an %}
                        {{ stime.arrival_time_an|min_convert }}
                        {% else %}
                        {{ stime.arrival_time_an|min_convert }} &#8226 {{ stime.departure_time_an|min_convert }}
                        {% endif %}
                        <i class="bi bi-broadcast-pin"></i></span>
                    {% elif stime.updated_at|within_last:8 and stime == next_stop %}
                    <span class="badge bg-warning" style="font-size: 15px;">
                        {%if stime.arrival_time_an == stime.departure_time_an %}
                        {{ stime.arrival_time_an|min_convert }}
                        {% else %}
                        {{ stime.arrival_time_an|min_convert }} &#8226 {{ stime.departure_time_an|min_convert }}
                        {% endif %}
                        <i class="bi bi-broadcast-pin"></i>
                    </span>
                    {% elif stime.updated_at|within_last:15 and stime == next_stop %}
                    <span class="badge bg-danger" style="font-size: 15px;">
                        {%if stime.arrival_time_an == stime.departure_time_an %}
                        {{ stime.arrival_time_an|min_convert }}
                        {% else %}
                        {{ stime.arrival_time_an|min_convert }} &#8226 {{ stime.departure_time_an|min_convert }}
                        {% endif %}
                        <i class="bi bi-broadcast-pin"></i>
                    </span>
                    {% else %}
                    <span class="badge bg-light text-dark" style="font-size: 15px;">
                        {%if stime.arrival_time_an == stime.departure_time_an %}
                        {{ stime.arrival_time_an|min_convert }}
                        {% else %}
                        {{ stime.arrival_time_an|min_convert }} &#8226 {{ stime.departure_time_an|min_convert }}
                        {% endif %}
                    </span>
                    {% endif %}
                </div>

            </div>

            {% if user.is_superuser %}
                <div class="row font-monospace bg-dark text-white" style="z-index: 10">
                    <div class="col-auto">
                        Departure time:<br>
                        Stop sequence:<br>
                        Trip id:<br>
                        Delay:<br>
                        Updated at:
                    </div>
                    <div class="col">
                        {{ stime.departure_time }}<br>
                        {{ stime.stop_sequence }}<br>
                        {{ stime.trip.trip_id }}<br>
                        {{ stime.delay_departure }}<br>
                        {{ stime.updated_at|timesince }}
                    </div>
                </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>

{% comment %} <div>
    {% if trip.bikes_allowed %}
    <p><span class="d-flex align-items-center"><i class="icon-bike"></i> - Bicikli dozvoljeni</span></p>
    {% endif %}
    {% if trip.wheelchair_accessible %}
    <p><span class="d-flex align-items-center"><i class="icon-wheelchair"></i> - Pristup invalidskim kolicima</span></p>
    {% endif %}
    <p><span class="badge bg-success">3 min <i class="bi bi-broadcast-pin"></i></span> - Uživo praćenje vozila</p>
    <p><span class="badge bg-warning">3 min <i class="bi bi-broadcast-pin"></i></span> - Vozilo odaslalo lokaciju do
        prije 8 minuta</p>
    <p><span class="badge bg-danger">3 min <i class="bi bi-broadcast-pin"></i></span> - Vozilo odaslalo lokaciju do
        prije 15 minuta</p>
    <p><span class="badge bg-light text-dark">3 min</span> - Planirano vrijeme</p>
</div>

<p class="text-center text-muted">
    <small>
    {{ trip.route.agency.agency_name }}
    {% if trip.route.agency.agency_phone %}
    &#8199<a href="tel:{{ trip.route.agency.agency_phone }}"><i class="bi bi-telephone"></i></a>
    {% endif %}
    {% if trip.route.agency.agency_url %}
    &#8199<a href="{{ trip.route.agency.agency_url }}"><i class="bi bi-globe"></i></a>
    {% endif %}
    {% if trip.route.agency.agency_email %}
    &#8199<a href="mailto: {{ trip.route.agency.agency_email }}"><i class="bi bi-envelope"></i></a>
    {% endif %}
    {% if trip.route.agency.agency_fare_url %}
    &#8199<a href="{{ trip.route.agency.agency_fare_url }}"><i class="bi bi-cash-coin"></i></a>
    {% endif %}

    <br><a href="https://leafletjs.com/">Leaflet</a>
    &copy;<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>
    &copy;<a href="https://carto.com/attributions">CARTO</a><br>
    </small>
</p> {% endcomment %}

<script>
    var map = L.map('map', {attributionControl: false, zoomControl: false, zoomSnap: 0.25});

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', { maxZoom: 18, }).addTo(map);

    var winDivRect = document.getElementById('map-window').getBoundingClientRect();
    var mapDivRect = document.getElementById('map').getBoundingClientRect();

    var padding = {
        paddingTopLeft: [winDivRect.left, winDivRect.top],
        paddingBottomRight: [mapDivRect.right - winDivRect.right, mapDivRect.bottom - winDivRect.bottom]
    };

    var firstFit = false;
    var layerGroup = L.layerGroup();

    ////

    var station_icon = L.icon({
        iconUrl: '{% static '/icons/station_icon.png' %}',
        iconSize:     [14, 14],
        iconAnchor:   [7, 7],
        popupAnchor:  [7, 7]
    });
    var station_icon_grey = L.icon({
        iconUrl: '{% static '/icons/station_icon_grey.png' %}',
        iconSize:     [14, 14],
        iconAnchor:   [7, 7],
        popupAnchor:  [7, 7]
    });
    var pulse_icon = L.icon({
        iconUrl: '{% static '/icons/pulse.svg' %}',
        iconSize:     [60, 60],
        iconAnchor:   [30, 30],
        popupAnchor:  [30, 30]
    });


    function refresh_map(){

        layerGroup.remove();

        var markers = [];
        
        const past_elements = document.getElementById('collapse_past').getElementsByClassName('data');
        var past_stops = [];

        for (let i = 0; i < past_elements.length; i++) {
            const el = past_elements[i];
            past_stops[i] = [el.getAttribute('data-x'), el.getAttribute('data-y'), el.getAttribute('data-id')];
        }

        const future_elements = document.getElementById('future').getElementsByClassName('data');
        var future_stops = [];

        for (let i = 0; i < future_elements.length; i++) {
            const el = future_elements[i];
            future_stops[i] = [el.getAttribute('data-x'), el.getAttribute('data-y'), el.getAttribute('data-id')];
        }

        ////

        for (var i = 0; i < past_stops.length; i++) {
            markers.push(L.marker([past_stops[i][0], past_stops[i][1]], {win_url: past_stops[i][2], icon: station_icon_grey}).on('click', onClick));
        };

        for (var j = 0; j < future_stops.length; j++) {
            markers.push(L.marker([future_stops[j][0], future_stops[j][1]], {win_url: future_stops[j][2], icon: station_icon}).on('click', onClick));
        };

        if (future_stops.length > 0){
            past_stops.push(future_stops[0]);
            markers.push(new L.marker([future_stops[0][0], future_stops[0][1]], {icon: pulse_icon}));
        };

        markers.push(L.polyline(past_stops, {color: 'gray', weight: 5}));
        markers.push(L.polyline(future_stops, {color: 'red', weight: 5}));

        layerGroup = L.layerGroup(markers);
        layerGroup.addTo(map);

        var all_stops = past_stops.concat(future_stops);

        if (firstFit == false){
            map.fitBounds(all_stops, padding);
            firstFit = true;
        }
    }

    refresh_map();

    ////

    function onClick(e) {
        window.location.replace(this.options.win_url, "_self");
    };

    var lastSync = new Date().getTime();
    var syncInterval = 20 * 1000; //sync every 20sec

    function syncPage() {
        lastSync = new Date().getTime(); //set last sync to be now
        $('#timetable').load(document.URL +  ' #timetable', function(){
            refresh_map();
        });
    }

    setInterval(function() {
        var now = new Date().getTime();
        if ((now - lastSync) > syncInterval ) {
            syncPage();
        }
    }, 2 * 1000); //check every 2 seconds
</script>

{% endblock %}