{% extends 'search/base.html' %}
{% block content %}

<div id="no-internet-modal" class="modal fade in" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius: 25.6px">
            <div class="modal-header">
                <h5 class="modal-title">Niste povezani na internet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onClick="reload()"><i class="bi bi-arrow-clockwise"></i> Osvježi</button>
            </div>
        </div>
    </div>
</div>

<div id="map" style="position: fixed; top: 0; left: 0; z-index: 0; height:120vh; width:100%; pointer-events:auto;"></div>

<script type="text/javascript">
    $(window).on('load', function() {
        $('#no-internet-modal').modal('show');
    });

    function reload(){
        window.open("/", '_self'); 
    };

    const center = [45.813038, 15.976928];
    const init_zoom = 15;

    var map = L.map('map', {attributionControl: false, zoomControl: false, zoomSnap: 0.25});
    var renderer = L.canvas();

    var map_offset = new L.Point(0, map.getSize().y * 0.225)
    set_view_offset(center, init_zoom);

    function set_view_offset(latlang, targetZoom){
        var targetPoint = map.project(latlang, targetZoom).add(map_offset),
        latlang = map.unproject(targetPoint, targetZoom);
        map.setView(latlang, targetZoom)
    }

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {maxZoom: 21, minZoom: 9}).addTo(map);
</script>

{% endblock %}